* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins";
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: linear-gradient(
    67.08deg,
    #1e46a3 0%,
    #000000 48.94%,
    #c12a23 99.97%
  );
  padding-top: 200px;
}

@media (max-width: 960px) {
  main {
    padding-top: 100px;
  }

  .content .title {
    font-size: 30px !important;
    line-height: 30px !important;
    text-align: center !important;
  }
}
@media (max-width: 600px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    align-items: center;
  }
  .content .title {
    font-size: 25px !important;
  }

  .content .logo {
    height: 70px !important;
  }

  .movie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie .content-movie .description {
    font-size: 14px !important;
  }
}

.content {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content .logo {
  height: 100px;
}

.content .title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #fffcf9;
  margin-top: 10px;
  margin-bottom: 30px;
}

.content .caption {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fffcf9;
  width: 80%;
}

#finder-movie-trigger {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  gap: 15px;
  cursor: pointer;
  margin-top: 30px;
}

#finder-movie-trigger img {
  height: 36px;
}

.movie {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.movie img {
  height: 200px;
  aspect-ratio: 171 /243;
  object-fit: cover;
  object-position: center;
}

.movie .img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.movie .img-container .year {
  color: #fff;
}

.movie .content-movie span {
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fffcf9;
}

.movie .content-movie .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: #fffcf9;
}

.content .loader-ative {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 5px #fff;
  border-left: solid 5px #c12a23;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.categories {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.categories .category-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.categories .category-group label {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.categories .category-group input {
  height: 20px;
  width: 20px;
}

@media (max-width: 600px) {
  .categories .category-group label {
    font-size: 12px;
  }
  .categories .category-group input {
    height: 15px;
    width: 15px;
  }
  .categories {
    gap: 10px;
  }
}

.content-movie .title-box {
  display: flex;
  flex-direction: column;
}
.rate {
  font-size: 12px;
  right: 0;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}
